{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jquery": {
      "$": false,
      "jQuery": false
    },
  },
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
  },
}
