#
# .gitconfig
#
[core]
    editor = emacs
    excludesfile = ~/.gitignore
    trustctime = false
[include]
    path = ~/.gitconfig_local
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    grep = auto
[alias]
    st = status
    ad = add
    cm = commit -m
    co = checkout
    df = diff
    ft = fetch
    mg = merge
    ps = push
    remotes = remote -v
[push]
default = matching
